# Morphic for Windows (.NET Desktop)

# Documentation used in this pipeline:
# .NET pipelines docs: 
# - Build, test, and deploy: https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystems/dotnet-core
# - .NET pipelines tasks: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/
# Microsoft-hosted agents: https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops
# - Windows 2019 components and version options: https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md
# .NET Core release versions: https://github.com/dotnet/core/blob/main/release-notes/releases-index.json
# .NET Core RIDs (including x86/x64/ARM64): https://docs.microsoft.com/en-us/dotnet/core/rid-catalog

# NOTE: we are using a previous scheme to label the build #; eventually we will want to change this to standard semver
name: $(Year:yy)$(DayOfYear).$(Rev:r)

trigger:
  branches:
    include:
    # TODO: before production, limit the branches that are automatically built
#      - master
      - '*'

pr:
  branches:
    include:
    - '*'
    
variables:
# Import all Amazon S3 upload credentials and settings
- group: 's3-public-bucket-upload'
# Import all the code-signing variables (from the Library)
- group: 'windows-code-sign'
- name: mainProject
  value: Morphic/Morphic.csproj
- name: projects
  value: |
         Morphic.Core/Morphic.Core.csproj
         Morphic.OAuth/Morphic.OAuth.csproj
         Morphic.Windows.Native/Morphic.Windows.Native.csproj
         Morphic/Morphic.csproj
  
# TODO: temporary values
- name: versionMajor
  value: 1
- name: versionMinor
  value: 9
- name: versionBuild
  value: 10
- name: versionRevision
  value: 0

stages:
  - stage: build
    jobs:
      - job: build
        pool:
          vmImage: 'windows-2019'
        steps:
#        - task: UseDotNet@2
#          displayName: 'Use .NET SDK 6.0-preview.1'
#          inputs:
#            packageType: sdk
#            version: 6.0.100-preview.1.21103.13
#            installationPath: $(Agent.ToolsDirectory)/dotnet
        - task: UseDotNet@2
          displayName: 'Use .NET Core SDK 5.0.200'
          inputs:
            packageType: sdk
            version: 5.0.200
            installationPath: $(Agent.ToolsDirectory)/dotnet

#        - task: CmdLine@2
#          inputs:
#            script: 'dotnet --info'

        - task: DotNetCoreCLI@2
          displayName: 'dotnet restore'
          inputs:
            command: restore
            projects: '$(projects)'
        
        - task: DotNetCoreCLI@2
          displayName: 'dotnet build'
          inputs:
           command: build
           projects: '$(mainProject)'

        - task: DotNetCoreCLI@2
          displayName: 'dotnet publish (x86)'
          inputs:
            command: publish
            publishWebProjects: false
            projects: '$(mainProject)'
            arguments: '-f net5.0-windows -r win10-x86 -c Release'


        - task: DotNetCoreCLI@2
          displayName: 'dotnet publish (x64)'
          inputs:
            command: publish
            publishWebProjects: false
            projects: '$(mainProject)'
            arguments: '-f net5.0-windows -r win10-x64 -c Release'


#        - task: DotNetCoreCLI@2
#          displayName: 'dotnet publish (arm64)'
#          inputs:
#            command: publish
#            publishWebProjects: false
#            projects: '$(mainProject)'
#            arguments: '-f net5.0-windows -r win10-arm64 -c Release'

        - powershell: |
            # Update MorphicPackage's appmanifest with a version number before building it
            [xml]$manifest= get-content ".\MorphicPackage\Package.appxmanifest"
            $manifest.Package.Identity.Version = "$(versionMajor).$(versionMinor).$(versionBuild).$(versionRevision)"    
            $manifest.save("MorphicPackage/Package.appxmanifest")
          displayName: 'Assign version to package manifest'

        - task: MSBuild@1
          displayName: 'Package MSIX (x86)'
          inputs:
            solution: MorphicPackage/MorphicPackage.wapproj
            platform: x86
            configuration: Release
            msbuildArguments: '/p:OutputPath=NonPackagedApp /p:UapAppxPackageBuildMode=SideLoadOnly  /p:AppxBundle=Never /p:AppxPackageOutput=$(Build.ArtifactStagingDirectory)\MorphicSetup-x86.msix /p:AppxPackageSigningEnabled=false'

        - task: MSBuild@1
          displayName: 'Package MSIX (x64)'
          inputs:
            solution: MorphicPackage/MorphicPackage.wapproj
            platform: x64
            configuration: Release
            msbuildArguments: '/p:OutputPath=NonPackagedApp /p:UapAppxPackageBuildMode=SideLoadOnly  /p:AppxBundle=Never /p:AppxPackageOutput=$(Build.ArtifactStagingDirectory)\MorphicSetup-x64.msix /p:AppxPackageSigningEnabled=false'

#        - task: MSBuild@1
#          displayName: 'Package MSIX (arm64)'
#          inputs:
#            solution: MorphicPackage/MorphicPackage.wapproj
#            platform: arm64
#            configuration: Release
#            msbuildArguments: '/p:OutputPath=NonPackagedApp /p:UapAppxPackageBuildMode=SideLoadOnly  /p:AppxBundle=Never /p:AppxPackageOutput=$(Build.ArtifactStagingDirectory)\MorphicSetup-x64.msix /p:AppxPackageSigningEnabled=false'

        - task: UseDotNet@2
          displayName: 'Use .NET Core SDK 2.1'
          inputs:
            packageType: sdk
            version: 2.1.811
            installationPath: $(Agent.ToolsDirectory)/dotnet

        - task: DotNetCoreCLI@2
          displayName: 'Install AzureSignTool 2.0.17'
          inputs:
            command: 'custom'
            custom: 'tool'
            arguments: 'install --global --version 2.0.17 azuresigntool'

# ### SIGNING NOTE (applicable to all signed files) ###
# NOTE: if we experience downtime with our cert provider's timestamp servers (which causes signing to fail), 
#       we can use the test server (production timestamps, but from a 2nd provider); note that we should NOT do
#       this for any public preview or release builds...only for internal testing or emergency scenarios.
#              -tr "$(TimestampUrl)"
#              -tr "$(TimestampUrl2)"
#              vs.
#              -tr "$(TestOnlyTimestampUrl)"

        - task: CmdLine@2
          displayName: 'Sign MSIX (x86)'
          inputs:
            script: >
              AzureSignTool sign
              -d Morphic
              -du "$(SigningURL)"
              -kvu "$(SigningVaultURL)"
              -kvi "$(SigningClientId)"
              -kvs "$(SigningClientSecret)"
              -kvc "$(SigningCertName)"
              -tr "$(TimestampUrl2)"
              -v $(Build.ArtifactStagingDirectory)\MorphicSetup-x86.msix

        - task: PublishPipelineArtifact@1
          displayName: "Cache MSIX (x86) for upload"
          inputs:
            targetPath: $(Build.ArtifactStagingDirectory)\MorphicSetup-x86.msix
            artifactName: msix-x86
            artifactType: pipeline

        - task: CmdLine@2
          displayName: 'Sign MSIX (x64)'
          inputs:
            script: >
              AzureSignTool sign
              -d Morphic
              -du "$(SigningURL)"
              -kvu "$(SigningVaultURL)"
              -kvi "$(SigningClientId)"
              -kvs "$(SigningClientSecret)"
              -kvc "$(SigningCertName)"
              -tr "$(TimestampUrl2)"
              -v $(Build.ArtifactStagingDirectory)\MorphicSetup-x64.msix

        - task: PublishPipelineArtifact@1
          displayName: "Cache MSIX (x64) for upload"
          inputs:
            targetPath: $(Build.ArtifactStagingDirectory)\MorphicSetup-x64.msix
            artifactName: msix-x64
            artifactType: pipeline

#        - task: CmdLine@2
#          displayName: 'Sign MSIX (arm64)'
#          inputs:
#            script: >
#              AzureSignTool sign
#              -d Morphic
#              -du "$(SigningURL)"
#              -kvu "$(SigningVaultURL)"
#              -kvi "$(SigningClientId)"
#              -kvs "$(SigningClientSecret)"
#              -kvc "$(SigningCertName)"
#              -tr "$(TimestampUrl2)"
#              -v $(Build.ArtifactStagingDirectory)\MorphicSetup-arm64.msix
#
#        - task: PublishPipelineArtifact@1
#          displayName: "Cache MSIX (arm64) for upload"
#          inputs:
#            targetPath: $(Build.ArtifactStagingDirectory)\MorphicSetup-arm64.msix
#            artifactName: msix-arm64
#            artifactType: pipeline

  - stage: publish
    jobs:
      - job: publish
        pool:
          vmImage: "ubuntu-20.04"
        steps:
        - task: DownloadPipelineArtifact@2
          displayName: "Capture MSIX (x86) for upload"
          inputs:
            source: 'current'
            artifact: msix-x86
            path: msix-x86

        - task: DownloadPipelineArtifact@2
          displayName: "Capture MSIX (x64) for upload"
          inputs:
            source: 'current'
            artifact: msix-x64
            path: msix-x64

#        - task: DownloadPipelineArtifact@2
#          displayName: "Capture MSIX (arm64) for upload"
#          inputs:
#            source: 'current'
#            artifact: msix-arm64
#            path: ${Agent.BuildDirectory}/msix-arm64

        - task: Bash@3
          displayName: "Upload MSIXs to S3"
          env:
              AWS_ACCESS_KEY_ID: $(accessKey)
              AWS_SECRET_ACCESS_KEY: $(secretKey)
              AWS_DEFAULT_REGION: $(region)
              BUCKET: $(bucket)
          inputs:
            targetType: 'inline'
            script: |
                    # automatically exit if any command returns an error exit code
                    set -e
                    # print all commands to the terminal output
                    set -x

                    echo "detected experimental build"
                    S3_OBJECT_PREFIX="win/x86/experimental"
                    # expire experimental builds after 7 days
                    EXTRA_ARGS="--expires $(date -d '+7 days' --iso-8601=seconds)"

                    S3_PUBLISHED_HTTP_URL="https://d23vryjv7k8eyb.cloudfront.net"

                    publishInstaller() {
                      LOCAL_MSIX_SOURCE="${AGENT_BUILDDIRECTORY}/${LOCAL_MSIX_DIR}/${MSIX_NAME_BASE}.msix"
                      S3_MSIX_OBJECT_NAME="${S3_OBJECT_PREFIX}/${MSIX_NAME_BASE}-${VERSION}.msix"

                      # debug: output the contents of the build directory
                      ls -al ${AGENT_BUILDDIRECTORY}/${LOCAL_MSIX_DIR}
                      aws s3 cp $EXTRA_ARGS "${LOCAL_MSIX_SOURCE}" "s3://${BUCKET}/${S3_MSIX_OBJECT_NAME}"
                    }

                    # set version (to be appended to the filenames); this is set to the pipeline name (e.g. Build.BuildNumber)
                    # NOTE: we are temporarily setting this to "1.9"; in the future we should retrieve this from the installer (both here and in the version components at the beginning of this script)
                    VERSION=1.9.$(Build.BuildNumber)

                    echo "Uploading MSIX (x86) to S3"
                    MSIX_NAME_BASE="MorphicSetup-x86"
                    # NOTE: "s/" is a temporary path requirement; we may also consider calling these folders just "x86" etc.
                    LOCAL_MSIX_DIR="s/msix-x86"
                    publishInstaller

                    echo "Uploading MSIX (x64) to S3"
                    MSIX_NAME_BASE="MorphicSetup-x64"
                    # NOTE: "s/" is a temporary path requirement; we may also consider calling these folders just "x86" etc.
                    LOCAL_MSIX_DIR="s/msix-x64"
                    publishInstaller

#                    echo "Uploading MSIX (arm64) to S3"
#                    MSIX_NAME_BASE="MorphicSetup-arm64"
#                    # NOTE: "s/" is a temporary path requirement; we may also consider calling these folders just "x86" etc.
#                    LOCAL_MSIX_DIR="s/msix-arm64"
#                    publishInstaller

