<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="Morphic" Language="1033" Version="!(bind.FileVersion.filD04FD7A000E8F2985248E10EC6CC63A2)"
             Manufacturer="Raising the Floor" UpgradeCode="7d0ee114-79e8-4ff6-b28b-0408551483f5">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>

        <Icon Id="MorphicIcon" SourceFile="$(var.Morphic.Client.ProjectDir)\Icon.ico"/>
        <Property Id="ARPPRODUCTICON" Value="MorphicIcon"/>

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>

        <Media Id="1" Cabinet="MorphicSetup.cab" EmbedCab="yes"/>

        <Feature Id="ProductFeature" Title="Morphic" Level="1">
            <ComponentGroupRef Id="GeneratedComponents"/>
            <ComponentGroupRef Id="InstallerServiceGeneratedComponents"/>
            <ComponentGroupRef Id="InstallerServiceClientGeneratedComponents"/>
            <ComponentRef Id="ApplicationComponent"/>
            <ComponentRef Id="DesktopIconComponent"/>
        </Feature>

        <Property Id="WixShellExecTarget" Value="[#filD04FD7A000E8F2985248E10EC6CC63A2]" />
        <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes"/>

        <InstallExecuteSequence>
          <Custom Action="LaunchApplication" After="InstallFinalize">NOT Installed</Custom>
        </InstallExecuteSequence>

        <UIRef Id="WixUI_Minimal" />
        <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

        <Property Id="WINDOWSBUILDNUMBER" Secure="yes">
            <RegistrySearch Id="BuildNumberSearch" Root="HKLM" Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion" Name="CurrentBuildNumber" Type="raw" />
        </Property>
        <Condition Message="This application is only supported on Windows 10 version 1809 (build 17763) or higher.">
            <![CDATA[(WINDOWSBUILDNUMBER >= 17763)]]>
        </Condition>        
    </Product>

  <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
              <Directory Id="INSTALLFOLDER" Name="Morphic">
                <Directory Id="SERVICEFOLDER" Name="InstallerService"/>
                <Directory Id="SERVICECLIENTFOLDER" Name="InstallerServiceClient"/>
              </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder"/>
            <Directory Id="DesktopFolder"/>
        </Directory>

        <DirectoryRef Id="ProgramMenuFolder">
            <Component Id="ApplicationComponent" Guid="8BDA9AF8-9BCC-4B25-8BCF-EE06A3412358">
                <Shortcut
                        Id="MorphicStartMenuShortcut"
                        Name="Morphic"
                        Icon="MorphicIcon"
                        Target="[#filD04FD7A000E8F2985248E10EC6CC63A2]"
                        WorkingDirectory="INSTALLFOLDER"/>
                <RegistryValue Root="HKCU" Key="Software\Raising the Floor\Morphic" Name="installed" Type="integer"
                               Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
        
        <DirectoryRef Id="DesktopFolder">
            <Component Id="DesktopIconComponent" Guid="5A043CA6-3EE9-4572-AB62-4B4FDDCFF016">
                <Shortcut
                        Id="MorphicDesktopShortcut"
                        Name="Morphic"
                        Icon="MorphicIcon"
                        Target="[#filD04FD7A000E8F2985248E10EC6CC63A2]"
                        WorkingDirectory="INSTALLFOLDER"/>
                <RegistryValue Root="HKCU" Key="Software\Raising the Floor\Morphic" Name="installed" Type="integer"
                               Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>
