<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
	<Package Name="Morphic" Language="1033" Version="!(bind.FileVersion.filFa4krMwL6ueyj_tX_uB0JUHWusc)" Manufacturer="Raising the Floor - US, Inc." UpgradeCode="7d0ee114-79e8-4ff6-b28b-0408551483f5" InstallerVersion="500">
	
		<Icon Id="MorphicIcon" SourceFile="$(var.Morphic.Client.ProjectDir)\Icon.ico" />
		<Property Id="ARPPRODUCTICON" Value="MorphicIcon" />
	
	        <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
	
	        <Media Id="1" Cabinet="MorphicSetup.cab" EmbedCab="yes" />
	
	        <Feature Id="ProductFeature" Title="Morphic" Level="1">
	        	<ComponentGroupRef Id="GeneratedComponents" />
	        	<ComponentRef Id="ApplicationComponent" />
	        	<ComponentRef Id="DesktopIconComponent" />
	        	<ComponentRef Id="RegistryEntries" />
	        </Feature>
	
	        <Property Id="WixShellExecTarget" Value="[#filFa4krMwL6ueyj_tX_uB0JUHWusc]" />
	        <CustomAction Id="LaunchApplication" DllEntry="WixShellExec" Impersonate="yes" BinaryRef="Wix4UtilCA_X86" />
	
	        <InstallExecuteSequence>
			<Custom Action="LaunchApplication" After="InstallFinalize" Condition="NOT Installed" />
	        </InstallExecuteSequence>
	
	        <ui:WixUI Id="WixUI_Minimal" />
	        <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
	
	        <UIRef Id="WixUI_ErrorProgressText" />
	
	        <Property Id="WINDOWSBUILDNUMBER" Secure="yes">
	        	<RegistrySearch Id="BuildNumberSearch" Root="HKLM" Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion" Name="CurrentBuildNumber" Type="raw" />
	        </Property>
        	<Launch Condition="(WINDOWSBUILDNUMBER &gt;= 19041)" Message="!(loc.MinimumOsError)" />
	</Package>

	<Fragment>
		<StandardDirectory Id="ProgramFiles6432Folder">
			<Directory Id="INSTALLFOLDER" Name="Morphic" />
		</StandardDirectory>

        	<StandardDirectory Id="ProgramMenuFolder">
			<Component Id="ApplicationComponent" Guid="8BDA9AF8-9BCC-4B25-8BCF-EE06A3412358">
				<Shortcut 
					Id="MorphicStartMenuShortcut" 
					Name="Morphic" 
					Icon="MorphicIcon" 
					Target="[#filFa4krMwL6ueyj_tX_uB0JUHWusc]" 
					WorkingDirectory="INSTALLFOLDER" />
				<RegistryValue Root="HKCU" Key="Software\Raising the Floor\Morphic" Name="installed" Type="integer" 
					Value="1" KeyPath="yes" />
			</Component>
		</StandardDirectory>
        
		<StandardDirectory Id="DesktopFolder">
			<Component Id="DesktopIconComponent" Guid="5A043CA6-3EE9-4572-AB62-4B4FDDCFF016">
				<Shortcut 
					Id="MorphicDesktopShortcut" 
					Name="Morphic" 
					Icon="MorphicIcon" 
					Target="[#filFa4krMwL6ueyj_tX_uB0JUHWusc]" 
					WorkingDirectory="INSTALLFOLDER" />
				<RegistryValue Root="HKCU" Key="Software\Raising the Floor\Morphic" Name="installed" Type="integer" 
					Value="1" KeyPath="yes" />
			</Component>
		</StandardDirectory>

		<StandardDirectory Id="ProgramFiles6432Folder">
			<Component Id="RegistryEntries" Guid="84EBEB5E-274F-4C1D-B5A2-5408557AFD78">
				<RegistryValue Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Run" Name="Morphic" 
					Type="string" Value="&quot;[#filFa4krMwL6ueyj_tX_uB0JUHWusc]&quot; --run-after-login" />
				<RegistryValue Root="HKCU" Key="Software\Raising the Floor\Morphic" Name="setupPackageVariant" Type="string" 
					Value="morphicMsi" />
			</Component>
		</StandardDirectory>
    	</Fragment>
</Wix>
